
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemateca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\static\styles\style.css">
    
    
</head>

<body>
    <section class="imagem__conteudo">
        <a class="cabecalho" href="/"><img src="../static/assets/imagens/back.png"></a>
        <img class="image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT6ytG9Q53tUhhMw7b1FiwjxD6lMg8a6COFUNxnCrKnizwKLvP6" >
        <div class="about">
            <h1> Sousou no Frieren</h1>					
            <div id="information">						
                <div class="icon-date"></div>						
                <div class="text">24min</div>						
                <div class="year">2023</div>						
                <div class="icon-language"></div>						
                <div class="text">KR</div>										
                    <h2>Com a grande luta terminada, todos eles seguem caminhos separados para viver uma vida tranquila. Mas como uma elfo, a quase imortal Frieren durará muito mais que o resto de seu antigo bando. Como ela aceitará a mortalidade de seus amigos?</b></h3>					
                        <h3>Diretor: <b>N/A</b></h3>					
                           <h3>Generos: <b>Animes</b></h3>
                        <div id="classified" rel="c5">16</div><div id="classified-text" 
                        rel="c5">Não recomendado pra menos de 16 anos</div>				
                    </div>
                </section>
    
    
    
    <div class="sbox">
    <div id='serie_contenido'>       
    <div id='seasons'>
    <div class='se-c'>
    <div class='se-a'>
    <ul class='episodios-season'>
        
        <li class='ep-number'>
        <a href="frieren_ep22">   
            <div class='ep-season ep-22'>
                <img src='https://image.tmdb.org/t/p/w780/xylNLFcYzGoaeTj8kMDEwDSULFb.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 22</div><span class='date-ep-bs'></span></a>
                        </li>
                        
        <li class='ep-number'>
            <a href='frieren_ep23'>
            <div class='ep-season ep-23'>
                <img src='https://image.myanimelist.net/ui/4xANNJZlKL2mFaM3ceJGQxABhh8mcKJMov9CdncrkrpBShiNkVs70UKEKwO2LAlL'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 23</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>
                        </li>
        
        <li class='ep-number'>  
            <a href='frieren_ep24'>          
            <div class='ep-season ep-24'>
                <img src='https://criticalhits.com.br/wp-content/uploads/2024/02/FRN_EP24_still_122-1024x576-1.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 24</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>
                             
        <li class='ep-number'>  
            <a href='frieren_ep25'>          
            <div class='ep-season ep-25'>
                <img src='https://butwhytho.net/wp-content/uploads/2024/03/Frieren-Episode-25-But-Why-Tho.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 25</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>                                

        <li class='ep-number'>  
            <a href='frieren_ep26'>          
            <div class='ep-season ep-26'>
                <img src='https://i.ytimg.com/vi/obrYt7GWv5o/maxresdefault.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 26</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>                                
                                           
                     


        </div>
        </div>
        </div>
        </div>
        </div>
        </ul> 
</body>                           