
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemateca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\static\styles\style.css">
    
    
</head>

<body>
    <a class="cabecalho" href="/"><img src="../static/assets/imagens/back.png" style="margin: 1rem;"></a>
    <div class="sbox">
    <div id='serie_contenido'>       
    <div id='seasons'>
    <div class='se-c'>
    <div class='se-a'>
    <ul class='episodios-season'>
        
        <li class='ep-number'>
        <a href="secretaria_kim1">   
            <div class='ep-season ep-1'>
                <img src='../static/assets/imagens/secret_kim-ep1.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 1</div><span class='date-ep-bs'></span></a>
                        </li>
                        
        <li class='ep-number'>
            <a href='queen2'>
            <div class='ep-season ep-2'>
                <img src='../static/assets/imagens/secret_kim-ep1.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 2</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>
                        </li>
        </div>
        </div>
        </div>
        </div>
        </div>
        </ul> 
</body>                           