
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemateca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\static\styles\style.css">
    
    
</head>

<body>
    <section class="imagem__conteudo">
        <a class="cabecalho" href="/"><img src="../static/assets/imagens/back.png"></a>
        <img class="image" src="../static/assets/imagens/herdeiro.jpeg" >
        <div class="about">
            <h1>O Herdeiro Impossível</h1>					
            <div id="information">						
                <div class="icon-date"></div>						
                <div class="text">65min</div>						
                <div class="year">2024</div>						
                <div class="icon-language"></div>						
                <div class="text">KR</div>										
                    <h2>Quando a mãe de In-ha é brutalmente assassinada por
                        seu padrasto, o jovem de apenas 18 anos decide mudar 
                        de cidade. No novo lugar, ele descobre que é, na verdade, 
                        o filho ilegítimo de Kang Jung-mo, presidente do Grupo Kangoh, 
                        um dos conglomerados mais influentes e ricos da Coreia do Sul</b></h3>					
                        <h3>Diretor: <b>N/A</b></h3>					
                           <h3>Generos: <b>Séries</b></h3>
                        <div id="classified" rel="c5">16</div><div id="classified-text" 
                        rel="c5">Não recomendado pra menos de 16 anos</div>				
                    </div>
                </section>
    
    
    
    <div class="sbox">
    <div id='serie_contenido'>       
    <div id='seasons'>
    <div class='se-c'>
    <div class='se-a'>
    <ul class='episodios-season'>
        
        <li class='ep-number'>
        <a href="herdeiro_ep1">   
            <div class='ep-season ep-1'>
                <img src='https://image.tmdb.org/t/p/original/rgtnHrT16CO7JARVer97nh0qkzY.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 1</div><span class='date-ep-bs'></span></a>
                        </li>
                        
        <li class='ep-number'>
            <a href='herdeiro_ep2'>
            <div class='ep-season ep-2'>
                <img src='https://image.tmdb.org/t/p/original/b947X2jn4sEabd3kZ65pebT7sNi.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 2</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>
                        </li>
        
        <li class='ep-number'>  
            <a href='herdeiro_ep3'>          
            <div class='ep-season ep-3'>
                <img src='https://image.tmdb.org/t/p/original/s5kyQ5bJ6ERv5ZIpekyQfSoo5f6.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 3</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>
                             
        <li class='ep-number'>  
            <a href='herdeiro_ep4'>          
            <div class='ep-season ep-4'>
                <img src='https://image.tmdb.org/t/p/original/omtHsLkkdwR2FIl2RtWURKJ0vCi.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 4</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>                                

        <li class='ep-number'>  
            <a href='herdeiro_ep5'>          
            <div class='ep-season ep-5'>
                <img src='https://image.tmdb.org/t/p/original/81JjWvVymztg8buQn5gPTFkaK7Q.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 5</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>                                
            
        <li class='ep-number'>  
        <a href='herdeiro_ep6'>          
            <div class='ep-season ep-6'>
                <img src='https://image.tmdb.org/t/p/original/k8BErghXCHj5SHCRBe3J0JknrE7.jpg'></div><div class='ep-number-bs'>
                    Temporada 1</div><div class='name-title-ep'>Episódio 6</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>                                
                     


        </div>
        </div>
        </div>
        </div>
        </div>
        </ul> 
</body>                           