
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemateca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\rafae\OneDrive\Área de Trabalho\anime\static\styles\style.css">
    
    
</head>

<body>

<div class="pagina-index">
    
    <header class="cabecalho">
        <main class="principal">
    
            <section class="conteudo">
                <section class="banner">
                    <h1 class="banner__titulo"> Cinemateca</h1>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="C:\Users\rafae\OneDrive\Área de Trabalho\anime\templates\lista.html"> 
                                <img class="card__imagem" src="C:\Users\rafae\OneDrive\Área de Trabalho\anime\static\assets\imagens\link_me.jpeg" alt="foto">
                                
                                </a>
                                <span class="card__tag">Filmes e Series</span>
                                <div class="card__info">
                                    <p class="card__titulo" >Conexão: Comer, amar e matar</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Serie 2022 ‧ Romance ‧ 1 temporada</p>
                                        
                                    </div>
                                </div>
                            </li>
</body>

</html>