<style>
    body{
        background-color: black;
    }

    .ep-season img {
        width: 300px;
        border-radius: 8px;
        align-items: center;
    }
    
    
    #serie_contenido {
        width: 100%;
        float: left;
        padding: 15px 0 0;

        
    }
    
    #seasons, #seasons .se-c {
        width: 100%;
        float: left;
        
    }
    
    .ep-number-bs {
        color: #ebebeb;
        font-size: .9rem;
        font-weight: 700;
        float: left;
        margin-top: 6px;
        width: 100%;
        
    }
    
    .ep-number {
        
        padding: 0.7rem;
    }
    
    
    
    .name-title-ep {
        color: #0bc3fc;
        font-size: 1    rem;
        font-weight: 700;
        margin: 6px 0;
        float: left;
        width: 100%;
        line-height: 1.2rem;
        
    }
    
    .date-ep-bs {
        color: #3c3c3c;
        display: none;
        
    }
    
    .episodios-season {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    
    
    
    </style>
                     <div class="sbox">
                        <div id='serie_contenido'>
                            <div id='seasons'>
                                <div class='se-c'>
                                    <div class='se-a'>
                                        <ul class='episodios-season'>
                            
                            <a href="ep/ep1.html">    
                                <div class='ep-season ep-1'>
                            
                                        <img src='https://image.tmdb.org/t/p/original/w9x5cPZRygjHvh5KsEXQWh59No0.jpg'></div><div class='ep-number-bs'>
                                            Temporada 1</div><div class='name-title-ep'>Episódio 1</div><span class='date-ep-bs'>Jun. 06, 2022</span></a>
                                                </li><li class='ep-number'>
                            
                            <a href='ep/ep2.html'>
                            <div class='ep-season ep-2'>
                            
                                        <img src='https://image.tmdb.org/t/p/original/gAmL26DmPbNuneTpiUyPTS2QtHb.jpg'></div><div class='ep-number-bs'
                                            >Temporada 1</div><div class='name-title-ep'>Episódio 2</div><span class='date-ep-bs'>Jun. 07, 2022</span></a>
                                                </li><li class='ep-number'>
                                                
                                            
                                <a href='ep/ep3.html'>
                                <div class='ep-season ep-3'>
                                         
                                        <img src='https://image.tmdb.org/t/p/original/rJ4QXo4fgdElVMPONphly6sIWnT.jpg'></div><div class='ep-number-bs'>
                                            Temporada 1</div><div class='name-title-ep'>Episódio 3</div><span class='date-ep-bs'>Jun. 13, 2022</span></a>
                                                </li><li class='ep-number'>
                            
                                <a href='ep/ep4.html'>
                                <div class='ep-season ep-4'>
                            
                                        <img src='https://image.tmdb.org/t/p/original/a0dr2tsIFsP2ruOLrFdSWbvUI2L.jpg'></div><div class='ep-number-bs'>
                                           Temporada 1</div><div class='name-title-ep'>Episódio 4</div><span class='date-ep-bs'>Jun. 14, 2022</span></a> 
                                                </li><li class='ep-number'>
                                
                            
                                <a href='ep/ep5.html'>
                                <div class='ep-season ep-5'>
                            
                                        <img src='https://image.tmdb.org/t/p/original/mLrnpTrnKYgkD1E6h8kWtogFIJB.jpg'></div><div class='ep-number-bs'>
                                            Temporada 1</div><div class='name-title-ep'>Episódio 5</div><span class='date-ep-bs'>Jun. 20, 2022</span></a>
                                                </li><li class='ep-number'>
                            
                                <a href='ep/ep6.html'>
                                <div class='ep-season ep-6'>
                                        
                                        <img src='https://image.tmdb.org/t/p/original/shNVK3OA0SaiUTFnK4AIjYjjmDK.jpg'></div><div class='ep-number-bs'>
                                            Temporada 1</div><div class='name-title-ep'>Episódio 6</div><span class='date-ep-bs'>Jun. 21, 2022</span></a>
                                                </li><li class='ep-number'>
                                
                                
                                <a href='ep/ep7.html'>
                                <div class='ep-season ep-7'>
                                
                                        <img src='https://image.tmdb.org/t/p/original/6Ltjvj0g2nVU3iVtrN0Mn9AOoxn.jpg'></div><div class='ep-number-bs'>
                                            Temporada 1</div><div class='name-title-ep'>Episódio 7</div><span class='date-ep-bs'>Jun. 27, 2022</span></a>
                                                </li><li class='ep-number'>
                                        
                                <a href='ep/ep8.html'>
                                <div class='ep-season ep-8'>
                            
                                        <img src='https://image.tmdb.org/t/p/original/1HEy873agWDSbMQmCq0Zvmqdpmq.jpg'></div><div class='ep-number-bs'>
                                            Temporada 1</div><div class='name-title-ep'>Episódio 8</div><span class='date-ep-bs'>Jun. 28, 2022</span></a>
                                                </li><li class='ep-number'>
                                                    
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-9/'>
                                <div class='ep-season ep-9'>
                            
                                                    <img src='https://image.tmdb.org/t/p/original/v6Lidc8mXGLHnt8zAdM9Ee516nn.jpg'></div><div class='ep-number-bs'>
                                                    
                                            Temporada 1</div><div class='name-title-ep'>Episódio 9</div><span class='date-ep-bs'>Jul. 04, 2022</span></a>
                                                </li><li class='ep-number'>
                                                    
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-10/'>
                                <div class='ep-season ep-10'>
                            
                                                        <img src='https://image.tmdb.org/t/p/original/k7F59TSPZ7JKI3V6WBm3ldPcREt.jpg'></div><div class='ep-number-bs'>
                                                            
                                            Temporada 1</div><div class='name-title-ep'>Episódio 10</div><span class='date-ep-bs'>Jul. 05, 2022</span></a>
                                                </li><li class='ep-number'>
                                                    
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-11/'>
                                <div class='ep-season ep-11'>
                            
                                                        <img src='https://image.tmdb.org/t/p/original/p1RCJIBk3R2lweiNrrfwJoIIqyT.jpg'></div><div class='ep-number-bs'>
                                                            
                                            Temporada 1</div><div class='name-title-ep'>Episódio 11</div><span class='date-ep-bs'>Jul. 11, 2022</span></a>
                                                </li><li class='ep-number'>
                            
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-12/'>
                                <div class='ep-season ep-12'>
                            
                                                        <img src='https://image.tmdb.org/t/p/original/9mxRGpDMQpbUMOBsSaAF3dV8pR6.jpg'></div><div class='ep-number-bs'>
                                                            
                                            Temporada 1</div><div class='name-title-ep'>Episódio 12</div><span class='date-ep-bs'>Jul. 12, 2022</span></a>
                                                </li><li class='ep-number'>
                                
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-13/'>
                                <div class='ep-season ep-13'>
                            
                                                        <img src='https://image.tmdb.org/t/p/original/lVzURbLTINDqCkDEG7Na0JCTyPP.jpg'></div><div class='ep-number-bs'>
                                                            
                                            Temporada 1</div><div class='name-title-ep'>Episódio 13</div><span class='date-ep-bs'>Jul. 18, 2022</span></a>
                                                </li><li class='ep-number'>
                                                        
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-14/'>
                                <div class='ep-season ep-14'>
                            
                                                    <img src='https://image.tmdb.org/t/p/original/c4ogDbwBwsQjE8Lh5XEjH1IUwTT.jpg'>
                                                    </div><div class='ep-number-bs'>Temporada 1</div><div class='name-title-ep'>Episódio 14</div>
                                                    <span class='date-ep-bs'>Jul. 19, 2022</span></a></li><li class='ep-number'>
                            
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-15/'>Temporada 1</div><div class='name-title-ep'>Episódio 15</div><span class='date-ep-bs'>Jul. 25, 2022</span></a>
                                                </li><li class='ep-number'>
                            
                                <a href='https://doramasonline.org/br/episodio/link-eat-love-kill-temporada-1-episodio-16/'>
                                <div class='ep-season ep-16'>
                            
                                                        <img src='https://image.tmdb.org/t/p/original/jrknoTdGQda3fe2LVE3jtuqk4IL.jpg'>
                                                    </div><div class='ep-number-bs'>Temporada 1</div><div class='name-title-ep'>Episódio 16 (Final)</div><span class='date-ep-bs'>Jul. 26, 2022</span></a>
                                        
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                
                                </div>