a, abbr, acronym, address, applet, article,
aside, audio, b, big, blockquote, 
body, canvas, caption, center, cite, 
code, dd, del, details, dfn, div, dl, dt, 
em, embed, fieldset, figcaption, figure, 
footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, object, 
ol, output, p, pre, q, ruby, s, samp, section, 
small, span, strike, strong, sub, summary, sup, 
table, tbody, td, tfoot, th, thead, time, tr, 
tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1.temph1 {
    font-size: 16px;
    margin-bottom: 1.2rem;
    font-weight: 500;
}
body {
    background: #00060c;
    color: #ffffff;
}
body {
    line-height: 1;
    font-family: "Baloo Da 2", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.imagem__fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.imagem__fundo::before {
    content: "";
    background: #00060c;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.imagem__fundo::after {
    content: "";
    background: -moz-linear-gradient(270deg, rgba(0, 6, 12, 0) 0, #00060c 100%);
    background: -webkit-linear-gradient(270deg, rgba(0, 6, 12, 0) 0, #00060c 100%);
    background: linear-gradient(270deg, rgba(0, 6, 12, 0) 0, #00060c 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content-header {
    margin-top: 8rem;
    width: 96%;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.imagem__fundo_img{
    position: relative;
}

.imagem__fundo_img::after {
    content: "";
    position: absolute;
    font-size: 1.1em;
    bottom: 0;
    background: #171818;
    background: linear-gradient(to bottom, rgba(0, 6, 12, 0) 0, #00060c 60%) !important;
    padding: 3.2rem 0;
    left: 0;
    width: 100%;
}

.imagem__fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


.dtsingle {
    z-index: 9999;
}

#single {
    margin: 0;
    padding: 0;
    position: relative;
}
#single, .box_links, .links_table, .links_table table {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 2rem;
}

.titulo_serie {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.full_width_layout {
    border: 0 !important;
    width: 100% !important;
    margin-right: 0 !important;
}
.dooplay_player {
    float: left;
    width: 100%;
    position: relative;
    z-index: 9999;
}

iframe{
    width: 800;
    height: 400;
}

.pag_episodes {
float: left;
display: flex;
justify-content: center;
align-items: center;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
background-color: rgb(0, 0, 0);
width: 800px;
}

.area_pag_episodes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 99999;
}

.pag_episodes .item {
    border-right: solid 1px rgb(0, 0, 0);
}
.pag_episodes .item {
    width: calc(100% / 3);
    float: left;
    text-align: center;
}

.pag_episodes .item a.nonex {
    opacity: .3;
    cursor: not-allowed;
}

.pag_episodes .item a {
    color: #ffffff;
}

.pag_episodes .item a {
    padding: 1.1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: #0bc3fc;
}
a {
    text-decoration: none;
    cursor: pointer;
}

